# Python
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
venv/

# Tooling / OS
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

# Local artifacts / outputs
out/
*.mp4
!**/test/**/*.mp4
